//HEADER
<h1 id="header"></h1>
//SUMMARY
<article id="summary" class="block">
	<h1 class="title">Summary</h1>
	<p></p>
</article>
//EXPERIENCE
<article id="experience" class="block">
	<h1 class="title">Experience</h1>
	<ul class="experience-ul">
		<div>
			<p class="organization"></p>
			<span class="role"></span>
			<span class="period"></span>
			<p class="summary"></p>
			<ul class="description">
				<li>
					<p></p>
				</li>
			</ul>
		</div>
	</ul>
</article>
//ACTIVTIES
<article class="block" id="activities">
	<h1 class="title">Activities</h1>
	<ul>
		<li>
			<p></p>
		</li>
	</ul>
</article>
//EDUCATION
<article class="block" id="education">
	<h1 class="title">Education</h1>
	<div>
		<div>
			<span class="institution"></span>
			<span class="period"></span>
			<p class="major"></p>
		</div>
	</div>
</article>